@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria.ttf');
}
@font-face {
  font-family: 'Geometria-Bold';
  src: url('../fonts//Geometria-Bold.ttf');
}
@font-face {
  font-family: 'Geometria-ExtraBold';
  src: url('../fonts/Geometria-ExtraBold.ttf');
}
@font-face {
  font-family: 'Geometria-Italic';
  src: url('../fonts/Geometria-Italic.ttf');
}
@font-face {
  font-family: 'Geometria-Medium';
  src: url('../fonts/Geometria-Medium.ttf');
}